# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [84]:
import os
import pandas as pd
import numpy as np
import re
import statsmodels.formula.api as smf
from sklearn.cluster import KMeans
import scipy.stats as stats
PUIdata = os.getenv('PUIDATA')

In [8]:
PUIdata

'/home/cusp/gtp232/PUIdata'

In [9]:
# Load dataset
data_311 = pd.read_csv(PUIdata + '/erm2-nwe9.csv')
data_311[['Community Board']].head()

    Community Board
0       10 BROOKLYN
1          12 BRONX
2  01 STATEN ISLAND
3       10 BROOKLYN
4       10 BROOKLYN

In [10]:
#Load full dataset
'''
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9').loc[:,\
                                                                ['Complaint Type','Community Board', 'Borough']]
                                                                
                                                            '''

"\ndata = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9').loc[:,                                                                ['Complaint Type','Community Board', 'Borough']]\n                                                                \n                                                            "

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [11]:
data_311.columns

Index([u'Unique Key', u'Created Date', u'Closed Date', u'Agency',
       u'Agency Name', u'Complaint Type', u'Descriptor', u'Location Type',
       u'Incident Zip', u'Incident Address', u'Street Name', u'Cross Street 1',
       u'Cross Street 2', u'Intersection Street 1', u'Intersection Street 2',
       u'Address Type', u'City', u'Landmark', u'Facility Type', u'Status',
       u'Due Date', u'Resolution Description',
       u'Resolution Action Updated Date', u'Community Board', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [12]:
data_311.Borough.unique()

array(['BROOKLYN', 'BRONX', 'STATEN ISLAND', 'QUEENS', 'MANHATTAN',
       'Unspecified'], dtype=object)

In [13]:
# Check if all Boroughs and Community Districts are represented in the Data 
community_board_unique = data_311['Community Board'].unique()
community_board_unique

array(['10 BROOKLYN', '12 BRONX', '01 STATEN ISLAND', '14 QUEENS',
       '03 MANHATTAN', '04 BRONX', 'Unspecified MANHATTAN', '02 QUEENS',
       '01 MANHATTAN', '03 STATEN ISLAND', '11 QUEENS', '02 STATEN ISLAND',
       '06 BROOKLYN', '12 MANHATTAN', '10 QUEENS', '09 QUEENS', '11 BRONX',
       '03 BROOKLYN', '02 BROOKLYN', '15 BROOKLYN', '04 MANHATTAN',
       'Unspecified BROOKLYN', '08 BRONX', '0 Unspecified', '04 QUEENS',
       '14 BROOKLYN', '01 BRONX', '09 BRONX', '05 QUEENS', '08 MANHATTAN',
       '18 BROOKLYN', '12 BROOKLYN', '04 BROOKLYN', '06 MANHATTAN',
       '03 BRONX', '11 BROOKLYN', '02 MANHATTAN', '05 MANHATTAN',
       '12 QUEENS', '01 BROOKLYN', '13 QUEENS', '05 BRONX', '10 MANHATTAN',
       '07 QUEENS', '16 BROOKLYN', '10 BRONX', '09 BROOKLYN', '03 QUEENS',
       '11 MANHATTAN', '07 MANHATTAN', '13 BROOKLYN', '05 BROOKLYN',
       '01 QUEENS', '07 BRONX', '09 MANHATTAN', 'Unspecified BRONX',
       '08 QUEENS', '06 BRONX', '08 BROOKLYN', '17 BROOKLYN',
       '07 BROOKLYN', 'Unspecified QUEENS', '02 BRONX', '06 QUEENS',
       '81 QUEENS'], dtype=object)

In [14]:
# How many unique values do we have? 
len(community_board_unique)

65

In [15]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.
#data_311 = data_311[["Created Date", "Agency", "Complaint Type", "Community Board", "Latitude", "Longitude"]]
data_311 = data_311[~data_311['Community Board'].str.contains("Unspecified")]
data_311.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,34666003,10/31/2016 11:16:02 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11228.0,930 73 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.626284,-74.014215,"(40.626284457572716, -74.01421534164334)"
1,34666002,10/31/2016 11:15:18 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,10470.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.898450,-73.854298,"(40.89844965691687, -73.85429832975592)"
2,34668139,10/31/2016 11:03:52 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,10314.0,55 PERRY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611195,-74.130085,"(40.611194968031164, -74.13008460276865)"
3,34665569,10/31/2016 10:53:16 AM,10/31/2016 10:53:16 AM,DOT,Department of Transportation,Street Condition,Pothole,NaN,11209.0,87 70 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.637114,-74.032936,"(40.63711429954738, -74.0329355116319)"
4,34666688,10/31/2016 10:50:59 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11209.0,87 70 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.637114,-74.032936,"(40.63711429954738, -74.0329355116319)"

In [16]:
# Check for duplicates? Are these plausible?
community_board_unique = data_311['Community Board'].unique()
len(community_board_unique)

60

In [17]:
sorted(community_board_unique)

['01 BRONX',
 '01 BROOKLYN',
 '01 MANHATTAN',
 '01 QUEENS',
 '01 STATEN ISLAND',
 '02 BRONX',
 '02 BROOKLYN',
 '02 MANHATTAN',
 '02 QUEENS',
 '02 STATEN ISLAND',
 '03 BRONX',
 '03 BROOKLYN',
 '03 MANHATTAN',
 '03 QUEENS',
 '03 STATEN ISLAND',
 '04 BRONX',
 '04 BROOKLYN',
 '04 MANHATTAN',
 '04 QUEENS',
 '05 BRONX',
 '05 BROOKLYN',
 '05 MANHATTAN',
 '05 QUEENS',
 '06 BRONX',
 '06 BROOKLYN',
 '06 MANHATTAN',
 '06 QUEENS',
 '07 BRONX',
 '07 BROOKLYN',
 '07 MANHATTAN',
 '07 QUEENS',
 '08 BRONX',
 '08 BROOKLYN',
 '08 MANHATTAN',
 '08 QUEENS',
 '09 BRONX',
 '09 BROOKLYN',
 '09 MANHATTAN',
 '09 QUEENS',
 '10 BRONX',
 '10 BROOKLYN',
 '10 MANHATTAN',
 '10 QUEENS',
 '11 BRONX',
 '11 BROOKLYN',
 '11 MANHATTAN',
 '11 QUEENS',
 '12 BRONX',
 '12 BROOKLYN',
 '12 MANHATTAN',
 '12 QUEENS',
 '13 BROOKLYN',
 '13 QUEENS',
 '14 BROOKLYN',
 '14 QUEENS',
 '15 BROOKLYN',
 '16 BROOKLYN',
 '17 BROOKLYN',
 '18 BROOKLYN',
 '81 QUEENS']

In [18]:
# What about missing values? Can you detect any patterns? 
for i in data_311.columns:
    print i
    print pd.isnull(data_311[i]).sum()

Unique Key
0
Created Date
0
Closed Date
489
Agency
0
Agency Name
0
Complaint Type
0
Descriptor
11
Location Type
109
Incident Zip
0
Incident Address
110
Street Name
110
Cross Street 1
256
Cross Street 2
256
Intersection Street 1
848
Intersection Street 2
848
Address Type
9
City
0
Landmark
948
Facility Type
361
Status
0
Due Date
247
Resolution Description
68
Resolution Action Updated Date
205
Community Board
0
Borough
0
X Coordinate (State Plane)
4
Y Coordinate (State Plane)
4
Park Facility Name
0
Park Borough
0
School Name
0
School Number
0
School Region
2
School Code
2
School Phone Number
0
School Address
0
School City
0
School State
0
School Zip
0
School Not Found
251
School or Citywide Complaint
948
Vehicle Type
948
Taxi Company Borough
946
Taxi Pick Up Location
942
Bridge Highway Name
941
Bridge Highway Direction
941
Road Ramp
941
Bridge Highway Segment
941
Garage Lot Name
948
Ferry Direction
948
Ferry Terminal Name
948
Latitude
4
Longitude
4
Location
4

In [19]:
# Data Editing: Is it possible to replace missing values? Is it possible to use Complaint Type 
# to fill missings in Resolution Descriptor?
data_311_res = data_311[["Community Board", "Unique Key", "Created Date", "Closed Date", "Agency", "Agency Name", "Complaint Type", "Descriptor", \
                        "Incident Zip", "Incident Address", "Latitude", "Longitude", "Status", "Resolution Description"]]
data_311_res[~pd.isnull(data_311_res["Resolution Description"])]

,Community Board,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Incident Zip,Incident Address,Latitude,Longitude,Status,Resolution Description
0,10 BROOKLYN,34666003,10/31/2016 11:16:02 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11228.0,930 73 STREET,40.626284,-74.014215,Open,The Department of Transportation referred this...
1,12 BRONX,34666002,10/31/2016 11:15:18 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10470.0,NaN,40.898450,-73.854298,Open,The Department of Transportation referred this...
2,01 STATEN ISLAND,34668139,10/31/2016 11:03:52 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10314.0,55 PERRY AVENUE,40.611195,-74.130085,Open,The Department of Transportation referred this...
3,10 BROOKLYN,34665569,10/31/2016 10:53:16 AM,10/31/2016 10:53:16 AM,DOT,Department of Transportation,Street Condition,Pothole,11209.0,87 70 STREET,40.637114,-74.032936,Closed,The Department of Transportation determined th...
4,10 BROOKLYN,34666688,10/31/2016 10:50:59 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11209.0,87 70 STREET,40.637114,-74.032936,Open,The Department of Transportation referred this...
5,14 QUEENS,34663951,10/31/2016 10:48:22 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11692.0,560 BEACH 66 STREET,40.596188,-73.795472,Open,The Department of Transportation referred this...
6,03 MANHATTAN,34666482,10/31/2016 10:46:06 AM,NaN,DSNY,Department of Sanitation,Graffiti,Graffiti,10009.0,549 EAST 13 STREET,40.729251,-73.979708,Open,The graffiti on this property has been schedul...
7,04 BRONX,34665276,10/31/2016 10:21:33 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10451.0,NaN,40.825724,-73.927153,Open,The Department of Transportation referred this...
8,01 STATEN ISLAND,34668151,10/31/2016 10:13:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10302.0,113 BURDEN AVENUE,40.631742,-74.140065,Open,The Department of Sanitation is in the process...
10,01 STATEN ISLAND,34663275,10/31/2016 09:57:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10310.0,391 OAKLAND AVENUE,40.632262,-74.110671,Open,The Department of Sanitation is in the process...
11,02 QUEENS,34664623,10/31/2016 09:55:37 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11101.0,48-15 11 STREET,40.743581,-73.951238,Open,The Department of Transportation referred this...
12,01 MANHATTAN,34663962,10/31/2016 09:53:51 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10004.0,46 WATER STREET,40.703504,-74.009972,Open,The Department of Transportation referred this...
13,03 STATEN ISLAND,34667440,10/31/2016 09:47:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10312.0,705 EDGEGROVE AVENUE,40.537035,-74.194907,Open,The Department of Sanitation is in the process...
14,01 STATEN ISLAND,34666734,10/31/2016 09:39:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10303.0,45 HUDSON PLACE,40.625935,-74.150031,Open,The Department of Sanitation is in the process...
15,03 STATEN ISLAND,34664633,10/31/2016 09:29:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10312.0,33 ADLAI CIRCLE,40.545031,-74.173953,Open,The Department of Sanitation is in the process...
16,11 QUEENS,34666724,10/31/2016 09:13:33 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11358.0,194-01 STATION ROAD,40.761223,-73.787933,Open,The Department of Transportation referred this...
17,02 STATEN ISLAND,34668569,10/31/2016 09:08:33 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10314.0,SOUTH GANNON AVENUE,40.607627,-74.134443,Open,The Department of Transportation referred this...
18,06 BROOKLYN,34668141,10/31/2016 09:05:24 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11215.0,441 6 AVENUE,40.668117,-73.983858,Open,The Department of Transportation referred this...
19,12 MANHATTAN,34663240,10/31/2016 09:04:04 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10033.0,NaN,40.847894,-73.943574,Open,The Department of Transportation referred this...
20,02 STATEN ISLAND,34663984,10/31/2016 08:56:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10314.0,1696 FOREST HILL ROAD,40.579726,-74.153974,Open,The Department of Sanitation is in the process...
21,01 STATEN ISLAND,34665284,10/31/2016 08:37:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10301.0,46 PENDLETON PLACE,40.640790,-74.092434,Open,The Department of Sanitation is in the process...
22,01 STATEN ISLAND,34668152,10/31/2016 08:30:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10304.0,305 BROAD STREET,40.623035,-74.084542,Open,The Department of Sanitation is in the process...
23,10 QUEENS,34666686,10/31/2016 08:29:20 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11417.0,105-34 78 STREET,40.678842,-73.859411,Open,The Department of Transportation referred this...
24,10 QUEENS,34667439,10/31/2016 08:28:37 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11417.0,106-34 78 STREET,40.677557,-73.859093,Open,The Department of Transportation referred this...
25,10 QUEENS,34667635,10/31/2016 08:27:52 AM,10/31/2016 08:27:52 AM,DOT,Department of Transportation,Street Condition,Pothole,11417.0,106-11 79 STREET,40.677789,-73.858177,Closed,The Department of Transportation determined th...
26,10 QUEENS,34666725,10/31/2016 08:27:05 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11417.0,106-08 79 STREET,40.677808,-73.858202,Open,The Department of Transportation referred this...
27,09 QUEENS,34663258,10/31/2016 08:19:12 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11421.0,92-16 91 AVENUE,40.689533,-73.851120,Open,The Department of Transportation referred this...
28,11 BRONX,34668138,10/31/2016 08:14:10 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10461.0,MORRIS PARK AVENUE,40.850498,-73.850933,Open,The Department of Transportation referred this...
29,03 STATEN ISLAND,34664681,10/31/2016 08:07:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10306.0,51 SHERIDAN COURT,40.559835,-74.134300,Open,The Department of Sanitation is in the process...
30,03 STATEN ISLAND,34663970,10/31/2016 07:55:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10312.0,102 KINGDOM AVENUE,40.530257,-74.188466,Open,The Department of Sanitation is in the process...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,01 BROOKLYN,34667558,10/30/2016 08:11:29 PM,10/30/2016 11:15:57 PM,NYPD,New York City Police Department,Blocked Driveway,No Access,11211.0,30 CONSELYEA STREET,40.714654,-73.950422,Closed,The Police Department responded to the complai...
968,12 QUEENS,34667286,10/30/2016 08:10:59 PM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,PESTS,11432.0,88-25 153 STREET,40.705928,-73.803885,Open,The following complaint conditions are still o...
969,04 QUEENS,34666086,10/30/2016 08:10:53 PM,10/31/2016 01:32:52 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,11373.0,40-05 94 STREET,40.748659,-73.872318,Closed,The Police Department responded to the complai...
970,05 BRONX,34667757,10/30/2016 08:10:04 PM,10/31/2016 04:12:18 AM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,10453.0,2192 MORRIS AVENUE,40.856211,-73.903113,Closed,The Police Department reviewed your complaint ...
971,16 BROOKLYN,34663685,10/30/2016 08:09:59 PM,NaN,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,11212.0,500 BRISTOL STREET,40.658674,-73.909866,Open,The following complaint conditions are still o...
972,01 BROOKLYN,34664932,10/30/2016 08:09:42 PM,10/30/2016 09:47:01 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,11211.0,224 SOUTH 3 STREET,40.711135,-73.958775,Closed,The Police Department responded to the complai...
973,01 STATEN ISLAND,34665146,10/30/2016 08:09:21 PM,10/30/2016 09:07:15 PM,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,10301.0,18 GREENWOOD AVENUE,40.631036,-74.098329,Closed,The Police Department responded to the complai...
974,81 QUEENS,34667623,10/30/2016 08:08:56 PM,NaN,DOT,Department of Transportation,Highway Condition,Pothole - Highway,11368.0,NaN,40.739947,-73.845724,Assigned,The Department of Transportation will inspect ...
975,05 MANHATTAN,34667126,10/30/2016 08:08:26 PM,10/30/2016 10:02:58 PM,DHS,Operations Unit - Department of Homeless Services,Homeless Person Assistance,NaN,10001.0,NaN,40.751658,-73.990132,Closed,The mobile outreach response team offered serv...
976,14 BROOKLYN,34664523,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,GARBAGE/RECYCLING STORAGE,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
977,14 BROOKLYN,34664691,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,SAFETY,FIRE ESCAPE,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
978,14 BROOKLYN,34665127,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,GARBAGE/RECYCLING STORAGE,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
979,14 BROOKLYN,34665137,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,GARBAGE/RECYCLING STORAGE,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
980,14 BROOKLYN,34665250,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,GENERAL,SIGNAGE MISSING,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
981,14 BROOKLYN,34666675,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,SAFETY,WINDOW GUARD BROKEN/MISSING,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
982,14 BROOKLYN,34667283,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,GARBAGE/RECYCLING STORAGE,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
983,14 BROOKLYN,34668701,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,GARBAGE/RECYCLING STORAGE,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
984,14 BROOKLYN,34668721,10/30/2016 08:07:56 PM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,GARBAGE/RECYCLING STORAGE,11230.0,1261 OCEAN AVENUE,40.631547,-73.957484,Open,The following complaint conditions are still o...
985,05 MANHATTAN,34668350,10/30/2016 08:07:35 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Food Establishment,Food Worker Hygiene,10010.0,303 PARK AVENUE SOUTH,40.740327,-73.986247,Open,The Department of Health and Mental Hygiene wi...
986,08 MANHATTAN,34666225,10/30/2016 08:07:29 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Mouse Sighting,10065.0,25 EAST 67 STREET,40.768704,-73.967992,Pending,The Department of Health and Mental Hygiene wi...
987,06 MANHATTAN,34668063,10/30/2016 08:07:29 PM,10/30/2016 09:45:54 PM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,10017.0,300 EAST 41 STREET,40.749036,-73.972434,Closed,The Police Department responded to the complai...
988,09 BROOKLYN,34667766,10/30/2016 08:07:28 PM,10/30/2016 09:33:55 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,11203.0,413 RUTLAND ROAD,40.659639,-73.946866,Closed,The Police Department responded to the complai...
990,01 MANHATTAN,34668039,10/30/2016 08:06:08 PM,10/30/2016 11:04:15 PM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,10004.0,1 WEST STREET,40.705949,-74.016288,Closed,The Police Department reviewed your complaint ...
993,04 BRONX,34665571,10/30/2016 08:05:38 PM,10/31/2016 02:17:01 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,10452.0,40 ELLIOT PLACE,40.839251,-73.917239,Closed,The Police Department responded to the complai...
994,10 BROOKLYN,34665428,10/30/2016 08:05:32 PM,10/31/2016 01:21:30 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,11209.0,9511 SHORE ROAD,40.616370,-74.038267,Closed,The Police Department responded and upon arriv...
995,08 MANHATTAN,34667031,10/30/2016 08:05:26 PM,10/31/2016 01:25:10 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,10028.0,1640 2 AVENUE,40.777292,-73.952155,Closed,The Police Department reviewed your complaint ...
996,08 BRONX,34664933,10/30/2016 08:05:24 PM,10/31/2016 12:40:31 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,10463.0,2818 HEATH AVENUE,40.873196,-73.904256,Closed,The Police Department responded to the complai...
997,17 BROOKLYN,34664886,10/30/2016 08:05:23 PM,10/30/2016 10:16:51 PM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,11210.0,1414 NEW YORK AVENUE,40.638179,-73.945319,Closed,The Police Department responded to the complai...
998,04 BROOKLYN,34665910,10/30/2016 08:04:48 PM,NaN,HPD,Department of Housing Preservation and Develop...,UNSANITARY CONDITION,MOLD,11221.0,849 BUSHWICK AVENUE,40.694168,-73.926511,Open,The following complaint conditions are still o...
999,04 BROOKLYN,34666044,10/30/2016 08:04:48 PM,NaN,HPD,Department of Housing Preservation and Develop...,DOOR/WINDOW,DOOR,11221.0,849 BUSHWICK AVENUE,40.694168,-73.926511,Open,The following complaint conditions are still o...

In [20]:
# Generate marker for unplausible Community Districts
# How do these districts look like? 

data_311_res['bad_community_district'] = [int(i[:2])>18 for i in data_311_res['Community Board']]
data_311_res.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Community Board,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Incident Zip,Incident Address,Latitude,Longitude,Status,Resolution Description,bad_community_district
0,10 BROOKLYN,34666003,10/31/2016 11:16:02 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11228.0,930 73 STREET,40.626284,-74.014215,Open,The Department of Transportation referred this...,False
1,12 BRONX,34666002,10/31/2016 11:15:18 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10470.0,NaN,40.898450,-73.854298,Open,The Department of Transportation referred this...,False
2,01 STATEN ISLAND,34668139,10/31/2016 11:03:52 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10314.0,55 PERRY AVENUE,40.611195,-74.130085,Open,The Department of Transportation referred this...,False
3,10 BROOKLYN,34665569,10/31/2016 10:53:16 AM,10/31/2016 10:53:16 AM,DOT,Department of Transportation,Street Condition,Pothole,11209.0,87 70 STREET,40.637114,-74.032936,Closed,The Department of Transportation determined th...,False
4,10 BROOKLYN,34666688,10/31/2016 10:50:59 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11209.0,87 70 STREET,40.637114,-74.032936,Open,The Department of Transportation referred this...,False

In [21]:
# Drop the marked districts
data_311_res2 = data_311_res[data_311_res["bad_community_district"] == False]
data_311_res2.head(30)

,Community Board,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Incident Zip,Incident Address,Latitude,Longitude,Status,Resolution Description,bad_community_district
0,10 BROOKLYN,34666003,10/31/2016 11:16:02 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11228.0,930 73 STREET,40.626284,-74.014215,Open,The Department of Transportation referred this...,False
1,12 BRONX,34666002,10/31/2016 11:15:18 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10470.0,NaN,40.898450,-73.854298,Open,The Department of Transportation referred this...,False
2,01 STATEN ISLAND,34668139,10/31/2016 11:03:52 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10314.0,55 PERRY AVENUE,40.611195,-74.130085,Open,The Department of Transportation referred this...,False
3,10 BROOKLYN,34665569,10/31/2016 10:53:16 AM,10/31/2016 10:53:16 AM,DOT,Department of Transportation,Street Condition,Pothole,11209.0,87 70 STREET,40.637114,-74.032936,Closed,The Department of Transportation determined th...,False
4,10 BROOKLYN,34666688,10/31/2016 10:50:59 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11209.0,87 70 STREET,40.637114,-74.032936,Open,The Department of Transportation referred this...,False
5,14 QUEENS,34663951,10/31/2016 10:48:22 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11692.0,560 BEACH 66 STREET,40.596188,-73.795472,Open,The Department of Transportation referred this...,False
6,03 MANHATTAN,34666482,10/31/2016 10:46:06 AM,NaN,DSNY,Department of Sanitation,Graffiti,Graffiti,10009.0,549 EAST 13 STREET,40.729251,-73.979708,Open,The graffiti on this property has been schedul...,False
7,04 BRONX,34665276,10/31/2016 10:21:33 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10451.0,NaN,40.825724,-73.927153,Open,The Department of Transportation referred this...,False
8,01 STATEN ISLAND,34668151,10/31/2016 10:13:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10302.0,113 BURDEN AVENUE,40.631742,-74.140065,Open,The Department of Sanitation is in the process...,False
10,01 STATEN ISLAND,34663275,10/31/2016 09:57:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10310.0,391 OAKLAND AVENUE,40.632262,-74.110671,Open,The Department of Sanitation is in the process...,False
11,02 QUEENS,34664623,10/31/2016 09:55:37 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11101.0,48-15 11 STREET,40.743581,-73.951238,Open,The Department of Transportation referred this...,False
12,01 MANHATTAN,34663962,10/31/2016 09:53:51 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10004.0,46 WATER STREET,40.703504,-74.009972,Open,The Department of Transportation referred this...,False
13,03 STATEN ISLAND,34667440,10/31/2016 09:47:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10312.0,705 EDGEGROVE AVENUE,40.537035,-74.194907,Open,The Department of Sanitation is in the process...,False
14,01 STATEN ISLAND,34666734,10/31/2016 09:39:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10303.0,45 HUDSON PLACE,40.625935,-74.150031,Open,The Department of Sanitation is in the process...,False
15,03 STATEN ISLAND,34664633,10/31/2016 09:29:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10312.0,33 ADLAI CIRCLE,40.545031,-74.173953,Open,The Department of Sanitation is in the process...,False
16,11 QUEENS,34666724,10/31/2016 09:13:33 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11358.0,194-01 STATION ROAD,40.761223,-73.787933,Open,The Department of Transportation referred this...,False
17,02 STATEN ISLAND,34668569,10/31/2016 09:08:33 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10314.0,SOUTH GANNON AVENUE,40.607627,-74.134443,Open,The Department of Transportation referred this...,False
18,06 BROOKLYN,34668141,10/31/2016 09:05:24 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11215.0,441 6 AVENUE,40.668117,-73.983858,Open,The Department of Transportation referred this...,False
19,12 MANHATTAN,34663240,10/31/2016 09:04:04 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10033.0,NaN,40.847894,-73.943574,Open,The Department of Transportation referred this...,False
20,02 STATEN ISLAND,34663984,10/31/2016 08:56:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10314.0,1696 FOREST HILL ROAD,40.579726,-74.153974,Open,The Department of Sanitation is in the process...,False
21,01 STATEN ISLAND,34665284,10/31/2016 08:37:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10301.0,46 PENDLETON PLACE,40.640790,-74.092434,Open,The Department of Sanitation is in the process...,False
22,01 STATEN ISLAND,34668152,10/31/2016 08:30:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10304.0,305 BROAD STREET,40.623035,-74.084542,Open,The Department of Sanitation is in the process...,False
23,10 QUEENS,34666686,10/31/2016 08:29:20 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11417.0,105-34 78 STREET,40.678842,-73.859411,Open,The Department of Transportation referred this...,False
24,10 QUEENS,34667439,10/31/2016 08:28:37 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11417.0,106-34 78 STREET,40.677557,-73.859093,Open,The Department of Transportation referred this...,False
25,10 QUEENS,34667635,10/31/2016 08:27:52 AM,10/31/2016 08:27:52 AM,DOT,Department of Transportation,Street Condition,Pothole,11417.0,106-11 79 STREET,40.677789,-73.858177,Closed,The Department of Transportation determined th...,False
26,10 QUEENS,34666725,10/31/2016 08:27:05 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11417.0,106-08 79 STREET,40.677808,-73.858202,Open,The Department of Transportation referred this...,False
27,09 QUEENS,34663258,10/31/2016 08:19:12 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,11421.0,92-16 91 AVENUE,40.689533,-73.851120,Open,The Department of Transportation referred this...,False
28,11 BRONX,34668138,10/31/2016 08:14:10 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,10461.0,MORRIS PARK AVENUE,40.850498,-73.850933,Open,The Department of Transportation referred this...,False
29,03 STATEN ISLAND,34664681,10/31/2016 08:07:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10306.0,51 SHERIDAN COURT,40.559835,-74.134300,Open,The Department of Sanitation is in the process...,False
30,03 STATEN ISLAND,34663970,10/31/2016 07:55:00 AM,NaN,DSNY,Department of Sanitation,Electronics Waste,Recycling Electronics,10312.0,102 KINGDOM AVENUE,40.530257,-74.188466,Open,The Department of Sanitation is in the process...,False

In [22]:
# Produce your result: Generate an indicator which ranks the Community District by complaint numbers 
# on the Community district level

df_sample = data_311_res2.groupby('Community Board')[['Complaint Type']].count()
#df_sample = pd.DataFrame(df_sample)
#df_sample = pd.DataFrame(df_sample)
df_sample.reset_index()
df_sample.sort(['Complaint Type'], ascending=False)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                  Complaint Type
Community Board
12 MANHATTAN                  48
14 BROOKLYN                   36
09 QUEENS                     36
11 BROOKLYN                   33
07 MANHATTAN                  30
01 BROOKLYN                   29
03 BROOKLYN                   28
03 QUEENS                     24
01 QUEENS                     23
10 BROOKLYN                   23
09 BRONX                      23
08 BROOKLYN                   23
05 BRONX                      22
18 BROOKLYN                   22
04 BRONX                      21
03 MANHATTAN                  20
05 QUEENS                     20
17 BROOKLYN                   19
07 QUEENS                     18
04 BROOKLYN                   18
10 MANHATTAN                  18
12 BROOKLYN                   17
04 QUEENS                     17
09 BROOKLYN                   16
12 QUEENS                     16
01 STATEN ISLAND              16
07 BRONX                      15
10 QUEENS                     14
05 BROOKLYN                   14
01 MANHATTAN                  13
09 MANHATTAN                  13
16 BROOKLYN                   13
03 BRONX                      13
04 MANHATTAN                  13
08 MANHATTAN                  13
15 BROOKLYN                   13
12 BRONX                      12
05 MANHATTAN                  11
11 QUEENS                     11
11 MANHATTAN                  11
06 BROOKLYN                   11
06 MANHATTAN                  11
02 MANHATTAN                  11
13 QUEENS                     10
02 STATEN ISLAND              10
02 BROOKLYN                   10
10 BRONX                      10
02 QUEENS                      9
08 BRONX                       9
06 QUEENS                      9
01 BRONX                       8
11 BRONX                       7
14 QUEENS                      7
03 STATEN ISLAND               7
13 BROOKLYN                    5
08 QUEENS                      5
07 BROOKLYN                    5
02 BRONX                       3
06 BRONX                       3

In [23]:
# Save reduced data frame (Community District level)
df_311_final = df_sample

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [24]:
# Population by Community District
df_pop = pd.read_csv(PUIdata + "/Final_Demographics.csv")

In [25]:
# Check variables in file
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [26]:
# How many community districts are in file? 
df_pop.cd_id.count()

59

In [27]:
df_pop.columns[10:150]

Index([u'% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"',
       u'% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"',
       u'Population 25 Years and over:',
       u'Population 25 Years and over: Less Than High School',
       u'Population 25 Years and over: High School Graduate (includes equivalency)',
       u'Population 25 Years and over: Some college',
       u'Population 25 Years and over: Bachelor's degree',
       u'Population 25 Years and over: Master's degree',
       u'Population 25 Years and over: Professional school degree',
       u'Population 25 Years and over: Doctorate degree',
       ...
       u'Per capita income (In 2014 Inflation Adjusted Dollars)',
       u'Employed Civilian Population 16 Years And Over:.1',
       u'Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'Employed Civilian Population 16 Years And Over: Service occupations',
       u'Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=140)

In [28]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311
df_pop_small = df_pop[["cd_id", "Total Population", "% Total Population: 18 to 24 Years", "% Total Population: 25 to 34 Years", \
       "% Total Population: 35 to 44 Years", "Per capita income (In 2014 Inflation Adjusted Dollars)", \
       "Employed Civilian Population 16 Years And Over:.1"]]
df_pop_small['pct_employed'] = df_pop_small['Employed Civilian Population 16 Years And Over:.1'] / df_pop_small['Total Population']
df_pop_small.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,cd_id,Total Population,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,Per capita income (In 2014 Inflation Adjusted Dollars),Employed Civilian Population 16 Years And Over:.1,pct_employed
0,BX08,106737,10.73,15.04,11.32,30730,47433,0.444391
1,BX12,134644,11.35,14.29,12.57,21523,59430,0.441386
2,BX10,121209,8.62,13.74,12.78,28586,53487,0.441279
3,BX11,135839,8.10,17.43,14.09,22714,60765,0.447331
4,BX03,172247,14.24,14.89,12.38,12662,60127,0.349074

In [29]:
# Save data frame

In [30]:
# Infrastructure by Community District
df_infr = pd.read_csv(PUIdata + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [31]:
# Check variables in file
df_infr.head(100)

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980
5,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980
6,3603706,79500US3603706,"NYC-Bronx Community District 7--Bedford Park, ...",47252,31468,0,1598,502,1096,18280,...,1624,4655,11129,66.60,47252,38899,0,31021,7878,8353
7,3603707,79500US3603707,NYC-Bronx Community District 5--Morris Heights...,44699,26332,54,956,352,604,11333,...,1062,2980,15387,58.91,44699,34397,54,25772,8571,10302
8,3603708,79500US3603708,"NYC-Bronx Community District 4--Concourse, New...",47935,29376,316,301,73,228,14610,...,2374,3701,14858,61.28,47935,34692,316,27971,6405,13243
9,3603709,79500US3603709,"NYC-Bronx Community District 9--Castle Hill, N...",64011,45976,180,1536,296,1240,23999,...,1663,1871,16164,71.83,64011,53072,180,45261,7631,10939
10,3603710,79500US3603710,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,0,982,360,622,17281,...,1002,2412,17066,62.68,52191,39141,0,30958,8183,13050
11,3603710,79500US3603710,NYC-Bronx Community District 1 & 2--Hunts Poin...,52191,32713,0,982,360,622,17281,...,1002,2412,17066,62.68,52191,39141,0,30958,8183,13050
12,3603801,79500US3603801,NYC-Manhattan Community District 12--Washingto...,75352,56940,306,5396,1286,4110,39512,...,4573,2137,16275,75.57,75352,61726,306,56092,5328,13626
13,3603802,79500US3603802,NYC-Manhattan Community District 9--Hamilton H...,47440,35281,167,3267,1659,1608,19344,...,1777,1840,10319,74.37,47440,38564,47,34729,3788,8876
14,3603803,79500US3603803,NYC-Manhattan Community District 10--Central H...,57064,36469,167,3022,742,2280,23764,...,1184,2726,17869,63.91,57064,44705,167,35908,8630,12359
15,3603804,79500US3603804,NYC-Manhattan Community District 11--East Harl...,49721,30630,464,2952,584,2368,19468,...,1701,1803,17288,61.60,49721,34640,464,29632,4544,15081
16,3603805,79500US3603805,NYC-Manhattan Community District 8--Upper East...,114838,103065,121,8845,4497,4348,68219,...,3952,3000,8773,89.75,114838,108746,121,102849,5776,6092
17,3603806,79500US3603806,NYC-Manhattan Community District 7--Upper West...,97229,85575,107,7758,3606,4152,53973,...,4451,3020,8634,88.01,97229,90861,107,85468,5286,6368
18,3603807,79500US3603807,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,53,5890,2289,3601,42358,...,2578,3330,9365,84.66,82762,75759,53,69776,5930,7003
19,3603807,79500US3603807,NYC-Manhattan Community District 4 & 5--Chelse...,82762,70067,53,5890,2289,3601,42358,...,2578,3330,9365,84.66,82762,75759,53,69776,5930,7003
20,3603808,79500US3603808,NYC-Manhattan Community District 6--Murray Hil...,80268,70507,542,3413,1576,1837,45618,...,1334,1925,7836,87.84,80268,75563,471,69676,5416,4705
21,3603809,79500US3603809,NYC-Manhattan Community District 3--Chinatown ...,73578,46168,319,4951,2379,2572,28712,...,2136,5002,22408,62.75,73578,55656,319,45434,9903,17922
22,3603810,79500US3603810,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,132,4862,2565,2297,47820,...,1795,3089,6193,88.95,83976,79890,132,74339,5419,4086
23,3603810,79500US3603810,NYC-Manhattan Community District 1 & 2--Batter...,83976,74694,132,4862,2565,2297,47820,...,1795,3089,6193,88.95,83976,79890,132,74339,5419,4086
24,3603901,79500US3603901,NYC-Staten Island Community District 3--Totten...,57658,49218,0,1885,715,1170,14088,...,718,1821,6619,85.36,57658,52592,0,48956,3636,5066
25,3603902,79500US3603902,NYC-Staten Island Community District 2--New Sp...,45266,35085,89,1169,346,823,12255,...,982,1132,9049,77.51,45266,38592,89,34435,4068,6674
26,3603903,79500US3603903,NYC-Staten Island Community District 1--Port R...,62047,47186,162,1851,355,1496,18107,...,720,1340,13521,76.05,62047,50159,134,46362,3663,11888
27,3604001,79500US3604001,NYC-Brooklyn Community District 1--Greenpoint ...,62990,47013,449,4406,1665,2741,30662,...,1943,2451,13526,74.64,62990,52660,449,46148,6063,10330
28,3604002,79500US3604002,NYC-Brooklyn Community District 4--Bushwick PU...,47580,33314,0,2181,656,1525,22785,...,5250,1902,12364,70.02,47580,38688,0,32845,5843,8892
29,3604003,79500US3604003,NYC-Brooklyn Community District 3--Bedford-Stu...,50688,33438,110,3000,1086,1914,22073,...,4212,1683,15567,65.97,50688,39450,110,32660,6680,11238
30,3604004,79500US3604004,NYC-Brooklyn Community District 2--Brooklyn He...,57188,46110,300,4202,1989,2213,30524,...,1526,2298,8780,80.63,57188,50134,252,45378,4504,7054
31,3604005,79500US3604005,"NYC-Brooklyn Community District 6--Park Slope,...",49709,44770,57,4567,2630,1937,31445,...,1592,714,4225,90.06,49709,45850,57,44121,1672,3859
32,3604006,79500US3604006,NYC-Brooklyn Community District 8--Crown Heigh...,50266,35043,91,2625,878,1747,26522,...,690,1882,13341,69.72,50266,42146,91,34367,7688,8120
33,3604007,79500US3604007,NYC-Brooklyn Community District 16--Brownsvill...,44269,25372,64,1618,230,1388,19304,...,642,2052,16845,57.31,44269,33248,64,24376,8808,11021
34,3604008,79500US3604008,NYC-Brooklyn Community District 5--East New Yo...,55136,37464,85,1051,445,606,28857,...,1480,1797,15875,67.95,55136,42170,85,36743,5342,12966
35,3604009,79500US3604009,NYC-Brooklyn Community District 18--Canarsie &...,69980,54253,176,2413,915,1498,26654,...,986,2651,13076,77.53,69980,60589,156,53561,6872,9391
36,3604010,79500US3604010,NYC-Brooklyn Community District 17--East Flatb...,50711,35675,256,1339,251,1088,23872,...,896,1184,13852,70.35,50711,39783,256,34990,4537,10928
37,3604011,79500US3604011,NYC-Brooklyn Community District 9--Crown Heigh...,41281,28686,334,2097,520,1577,20991,...,313,1233,11362,69.49,41281,32298,334,28023,3941,8983
38,3604012,79500US3604012,NYC-Brooklyn Community District 7--Sunset Park...,45848,35725,84,2923,1051,1872,26610,...,1414,1145,8978,77.92,45848,39117,21,35429,3667,6731
39,3604013,79500US3604013,NYC-Brooklyn Community District 10--Bay Ridge ...,48591,37983,327,4781,1520,3261,18034,...,650,1738,8870,78.17,48591,41475,327,37282,3866,7116
40,3604014,79500US3604014,NYC-Brooklyn Community District 12--Borough Pa...,46062,28128,268,4239,1437,2802,16406,...,2195,2398,15536,61.07,46062,36353,268,27609,8476,9709
41,3604015,79500US3604015,NYC-Brooklyn Community District 14--Flatbush &...,61174,45090,272,4106,1368,2738,31894,...,1616,2165,13919,73.71,61174,51215,272,43975,6968,9959
42,3604016,79500US3604016,NYC-Brooklyn Community District 15--Sheepshead...,53639,40467,348,4298,636,3662,20802,...,1104,1707,11465,75.44,53639,44092,314,39783,3995,9547
43,3604017,79500US3604017,NYC-Brooklyn Community District 11--Bensonhurs...,62220,46126,164,4853,1443,3410,23723,...,882,2506,13588,74.13,62220,52675,164,45438,7073,9545
44,3604018,79500US3604018,NYC-Brooklyn Community District 13--Brighton B...,45070,28238,191,7133,894,6239,12656,...,380,1280,15552,62.65,45070,30869,191,27559,3119,14201
45,3604101,79500US3604101,NYC-Queens Community District 1--Astoria & Lon...,75758,61861,277,7822,2960,4862,44329,...,1459,1815,12082,81.66,75758,66023,277,60733,5013,9735
46,3604102,79500US3604102,NYC-Queens Community District 3--Jackson Heigh...,56146,40561,202,4049,682,3367,26664,...,1073,1530,14055,72.24,56146,45949,202,40114,5633,10197
47,3604103,79500US3604103,"NYC-Queens Community District 7--Flushing, New...",89206,68446,150,5444,1271,4173,39842,...,1441,1246,19514,76.73,89206,70594,150,67680,2764,18612
48,3604104,79500US3604104,"NYC-Queens Community District 11--Bayside, New...",43279,37361,79,2213,660,1553,15502,...,639,621,5297,86.33,43279,38880,79,37199,1602,4399
49,3604105,79500US3604105,NYC-Queens Community District 13--Queens Villa...,59953,50330,383,1877,446,1431,18820,...,2836,1588,8035,83.95,59953,53703,383,49266,4054,6250
50,3604106,79500US3604106,"NYC-Queens Community District 8--Briarwood, Ne...",54629,43887,223,2881,1137,1744,26818,...,1023,1261,9481,80.34,54629,47658,223,43232,4203,6971
51,3604107,79500US3604107,NYC-Queens Community District 4--Elmhurst & So...,45916,33634,194,5359,621,4738,20537,...,1238,775,11507,73.25,45916,36863,68,33180,3615,9053
52,3604108,79500US3604108,NYC-Queens Community District 6--Forest Hills ...,50896,41674,400,6936,1386,5550,26918,...,1290,1419,7803,81.88,50896,43751,400,41070,2281,7145
53,3604109,79500US3604109,NYC-Queens Community District 2--Sunnyside & W...,52641,44193,68,4424,1660,2764,30644,...,946,1578,6870,83.95,52641,47054,68,43902,3084,5587
54,3604110,79500US3604110,"NYC-Queens Community District 5--Ridgewood, Ne...",60344,48488,331,2970,684,2286,29477,...,843,838,11018,80.35,60344,52401,298,47925,4178,7943
55,3604111,79500US3604111,NYC-Queens Community District 9--Richmond Hill...,44971,36258,296,4822,1223,3599,18904,...,1443,1011,7702,80.63,44971,39745,296,35511,3938,5226
56,3604112,79500US3604112,"NYC-Queens Community District 12--Jamaica, New...",74848,53848,514,2563,509,2054,19128,...,6093,1537,19463,71.94,74848,61383,514,53106,7763,13465
57,3604113,79500US3604113,NYC-Queens Community District 10--Howard Beach...,38041,30313,365,1722,386,1336,12921,...,1308,1198,6530,79.69,38041,32170,338,29698,2134,5871
58,3604114,79500US3604114,NYC-Queens Community District 14--Far Rockaway...,39357,28841,178,1378,147,1231,10849,...,701,1654,8862,73.28,39357,31308,178,27803,3327,8049

In [32]:
len(df_infr.columns)

31

In [33]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [34]:
# How many community districts are in file? 
len(df_infr['Qualifying Name'].unique())

55

In [35]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
df_infr_small = df_infr[["FIPS", "Geographic Identifier", "Qualifying Name", "Households", "Households: With An Internet Subscription",\
                        "Households: No Internet Access", "Households: Has A Computer", "Households: Without An Internet Subscription",\
                        "Households: With Dial-Up Internet Subscription Alone", "Households: With A Broadband Internet Subscription"]]
df_infr_small.groupby('Qualifying Name')['Households'].sum(),

(Qualifying Name
 NYC-Bronx Community District 1 & 2--Hunts Point, New York                                   104382
 NYC-Bronx Community District 10--Co-op City, New York                                        47050
 NYC-Bronx Community District 11--Pelham Parkway, New York                                    44922
 NYC-Bronx Community District 12--Wakefield, New York                                         44830
 NYC-Bronx Community District 3 & 6--Belmont, New York                                       115112
 NYC-Bronx Community District 4--Concourse, New York                                          47935
 NYC-Bronx Community District 5--Morris Heights, New York                                     44699
 NYC-Bronx Community District 7--Bedford Park, New York                                       47252
 NYC-Bronx Community District 8--Riverdale, New York                                          42035
 NYC-Bronx Community District 9--Castle Hill, New York                                        64011
 NYC-Brooklyn Community District 1--Greenpoint & Williamsburg PUMA, New York                  62990
 NYC-Brooklyn Community District 10--Bay Ridge & Dyker Heights PUMA, New York                 48591
 NYC-Brooklyn Community District 11--Bensonhurst & Bath Beach PUMA, New York                  62220
 NYC-Brooklyn Community District 12--Borough Park, New York                                   46062
 NYC-Brooklyn Community District 13--Brighton Beach & Coney Island PUMA, New York             45070
 NYC-Brooklyn Community District 14--Flatbush & Midwood PUMA, New York                        61174
 NYC-Brooklyn Community District 15--Sheepshead Bay, New York                                 53639
 NYC-Brooklyn Community District 16--Brownsville & Ocean Hill PUMA, New York                  44269
 NYC-Brooklyn Community District 17--East Flatbush, New York                                  50711
 NYC-Brooklyn Community District 18--Canarsie & Flatlands PUMA, New York                      69980
 NYC-Brooklyn Community District 2--Brooklyn Heights & Fort Greene PUMA, New York             57188
 NYC-Brooklyn Community District 3--Bedford-Stuyvesant PUMA, New York                         50688
 NYC-Brooklyn Community District 4--Bushwick PUMA, New York                                   47580
 NYC-Brooklyn Community District 5--East New York & Starrett City PUMA, New York              55136
 NYC-Brooklyn Community District 6--Park Slope, New York                                      49709
 NYC-Brooklyn Community District 7--Sunset Park & Windsor Terrace PUMA, New York              45848
 NYC-Brooklyn Community District 8--Crown Heights North & Prospect Heights PUMA, New York     50266
 NYC-Brooklyn Community District 9--Crown Heights South, New York                             41281
 NYC-Manhattan Community District 1 & 2--Battery Park City, New York                         167952
 NYC-Manhattan Community District 10--Central Harlem PUMA, New York                           57064
 NYC-Manhattan Community District 11--East Harlem PUMA, New York                              49721
 NYC-Manhattan Community District 12--Washington Heights, New York                            75352
 NYC-Manhattan Community District 3--Chinatown & Lower East Side PUMA, New York               73578
 NYC-Manhattan Community District 4 & 5--Chelsea, New York                                   165524
 NYC-Manhattan Community District 6--Murray Hill, New York                                    80268
 NYC-Manhattan Community District 7--Upper West Side & West Side PUMA, New York               97229
 NYC-Manhattan Community District 8--Upper East Side PUMA, New York                          114838
 NYC-Manhattan Community District 9--Hamilton Heights, New York                               47440
 NYC-Queens Community District 1--Astoria & Long Island City PUMA, New York                   75758
 NYC-Queens Community District 10--Howard Beach & Ozone Park PUMA, New York                   38041
 NYC-Queens Community District 11--Bayside, New York                                          43279
 NYC-Queens Community District 12--Jamaica, New York                                          74848
 NYC-Queens Community District 13--Queens Village, New York                                   59953
 NYC-Queens Community District 14--Far Rockaway, New York                                     39357
 NYC-Queens Community District 2--Sunnyside & Woodside PUMA, New York                         52641
 NYC-Queens Community District 3--Jackson Heights & North Corona PUMA, New York               56146
 NYC-Queens Community District 4--Elmhurst & South Corona PUMA, New York                      45916
 NYC-Queens Community District 5--Ridgewood, New York                                         60344
 NYC-Queens Community District 6--Forest Hills & Rego Park PUMA, New York                     50896
 NYC-Queens Community District 7--Flushing, New York                                          89206
 NYC-Queens Community District 8--Briarwood, New York                                         54629
 NYC-Queens Community District 9--Richmond Hill & Woodhaven PUMA, New York                    44971
 NYC-Staten Island Community District 1--Port Richmond, New York                              62047
 NYC-Staten Island Community District 2--New Springville & South Beach PUMA, New York         45266
 NYC-Staten Island Community District 3--Tottenville, New York                                57658
 Name: Households, dtype: int64,)

In [36]:
# Aggregate internet type by high and low connections
df_infr_small['low_connect'] = df_infr_small['Households: With Dial-Up Internet Subscription Alone']\
+ df_infr_small['Households: Without An Internet Subscription']
df_infr_small['hi_connect'] = df_infr_small['Households: With A Broadband Internet Subscription']
df_infr_final = df_infr_small[["Qualifying Name", "Households", "low_connect", "hi_connect"]]
df_infr_final.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Qualifying Name,Households,low_connect,hi_connect
0,"NYC-Bronx Community District 8--Riverdale, New...",42035,4105,30943
1,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,5265,31435
2,"NYC-Bronx Community District 10--Co-op City, N...",47050,6367,32333
3,NYC-Bronx Community District 11--Pelham Parkwa...,44922,5959,31278
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,9168,33408

In [37]:
# Save data frame

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [38]:
df_311_final.head()

                  Complaint Type
Community Board
01 BRONX                       8
01 BROOKLYN                   29
01 MANHATTAN                  13
01 QUEENS                     23
01 STATEN ISLAND              16

In [39]:
# Harmonize identifier of dataframe 1

dict_boro = {'BRONX': 'BX', 'BROOKLYN': 'BK', 'MANHATTAN': 'MN', 'STATEN ISLAND': 'SI', 'QUEENS': 'QN'}

df_311_final['cd_id'] = '0'

for i in range(len(df_311_final)):
    df_311_final['cd_id'][i] = dict_boro[df_311_final.index[i][3:]] + df_311_final.index[i][:2]

df_311_final.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                  Complaint Type cd_id
Community Board
01 BRONX                       8  BX01
01 BROOKLYN                   29  BK01
01 MANHATTAN                  13  MN01
01 QUEENS                     23  QN01
01 STATEN ISLAND              16  SI01

In [40]:
# Harmonize identifier of dataframe 2

df_pop_small.head()

,cd_id,Total Population,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,Per capita income (In 2014 Inflation Adjusted Dollars),Employed Civilian Population 16 Years And Over:.1,pct_employed
0,BX08,106737,10.73,15.04,11.32,30730,47433,0.444391
1,BX12,134644,11.35,14.29,12.57,21523,59430,0.441386
2,BX10,121209,8.62,13.74,12.78,28586,53487,0.441279
3,BX11,135839,8.10,17.43,14.09,22714,60765,0.447331
4,BX03,172247,14.24,14.89,12.38,12662,60127,0.349074

In [41]:
m = re.search("[0-9]+", df_infr_small['Qualifying Name'][4]).group(0)
len(m)

1

In [42]:
# Harmonize identifier of dataframe 3

dict_boro2 = {'Bronx': 'BX', 'Brooklyn': 'BK', 'Manhattan': 'MN', 'Staten': 'SI', 'Queens': 'QN'}

def add_zero(f):
    if len(f) == 1:
        return '0'+f
    else:
        return f

df_infr_final['cd_num'] = [re.search("[0-9]+", i).group(0) for i in df_infr_final['Qualifying Name']]
df_infr_final['cd_num_2'] = [add_zero(i) for i in df_infr_final['cd_num']]

df_infr_final['boro'] = [dict_boro2[re.search('[^\s]+', i[4:]).group(0)] for i in df_infr_final['Qualifying Name']]

df_infr_final['cd_id'] = df_infr_final['boro'] + df_infr_final['cd_num_2']


df_infr_final_2 = df_infr_final[["cd_id", "Households", "low_connect", "hi_connect"]]

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  cd_id  Households  low_connect  hi_connect
0  BX08       42035         4105       30943
1  BX12       44830         5265       31435
2  BX10       47050         6367       32333
3  BX11       44922         5959       31278
4  BX03       57556         9168       33408

In [53]:
#remove duplicates
df_infr_final_2 = df_infr_final_2.drop_duplicates()
df_infr_final_2.head(20)

   cd_id  Households  low_connect  hi_connect
0   BX08       42035         4105       30943
1   BX12       44830         5265       31435
2   BX10       47050         6367       32333
3   BX11       44922         5959       31278
4   BX03       57556         9168       33408
6   BX07       47252         7878       31021
7   BX05       44699         8625       25772
8   BX04       47935         6721       27971
9   BX09       64011         7811       45261
10  BX01       52191         8183       30958
12  MN12       75352         5634       56092
13  MN09       47440         3835       34729
14  MN10       57064         8797       35908
15  MN11       49721         5008       29632
16  MN08      114838         5897      102849
17  MN07       97229         5393       85468
18  MN04       82762         5983       69776
20  MN06       80268         5887       69676
21  MN03       73578        10222       45434
22  MN01       83976         5551       74339

In [54]:
# Link the 3 dataframes
df_311_pop = df_311_final.merge(df_pop_small, left_on='cd_id', right_on='cd_id', how='left')
df_311_pop_infr = df_311_pop.merge(df_infr_final_2, left_on='cd_id', right_on='cd_id', how='left')
df_311_pop_infr.head(20)

,Complaint Type,cd_id,Total Population,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,Per capita income (In 2014 Inflation Adjusted Dollars),Employed Civilian Population 16 Years And Over:.1,pct_employed,Households,low_connect,hi_connect
0,8,BX01,167147.0,12.76,18.26,12.04,11370.0,51760.0,0.309668,52191.0,8183.0,30958.0
1,29,BK01,154713.0,8.52,29.88,13.70,34897.0,85020.0,0.549534,62990.0,6512.0,46148.0
2,13,MN01,159903.0,8.55,28.38,18.14,105300.0,100992.0,0.631583,83976.0,5551.0,74339.0
3,23,QN01,182860.0,9.26,27.12,15.74,31664.0,103065.0,0.563628,75758.0,5290.0,60733.0
4,16,SI01,176338.0,10.93,15.08,12.94,26988.0,75432.0,0.427769,62047.0,3797.0,46362.0
5,3,BX02,167147.0,12.76,18.26,12.04,11370.0,51760.0,0.309668,NaN,NaN,NaN
6,10,BK02,139070.0,9.57,22.68,17.05,52259.0,72363.0,0.520335,57188.0,4756.0,45378.0
7,11,MN02,159903.0,8.55,28.38,18.14,105300.0,100992.0,0.631583,NaN,NaN,NaN
8,9,QN02,150100.0,7.88,21.98,17.65,28789.0,82022.0,0.546449,52641.0,3152.0,43902.0
9,10,SI02,126200.0,7.82,12.51,12.48,33525.0,57094.0,0.452409,45266.0,4157.0,34435.0
10,13,BX03,172247.0,14.24,14.89,12.38,12662.0,60127.0,0.349074,57556.0,9168.0,33408.0
11,28,BK03,133235.0,12.75,19.43,11.55,21424.0,58739.0,0.440868,50688.0,6790.0,32660.0
12,20,MN03,152453.0,10.72,21.18,13.66,39101.0,77043.0,0.505356,73578.0,10222.0,45434.0
13,24,QN03,182354.0,8.48,18.96,16.20,21172.0,89744.0,0.492142,56146.0,5835.0,40114.0
14,7,SI03,170741.0,8.46,11.03,13.69,34971.0,76312.0,0.446946,57658.0,3636.0,48956.0
15,21,BX04,141467.0,12.28,12.41,13.10,13709.0,52936.0,0.374193,47935.0,6721.0,27971.0
16,18,BK04,137368.0,14.57,24.00,13.76,20052.0,67757.0,0.493252,47580.0,5843.0,32845.0
17,13,MN04,149447.0,8.82,29.41,17.81,87756.0,100311.0,0.671215,82762.0,5983.0,69776.0
18,17,QN04,154740.0,10.22,18.95,13.72,19123.0,72835.0,0.470693,45916.0,3683.0,33180.0
19,22,BX05,132850.0,13.10,16.34,11.96,11867.0,51008.0,0.383952,44699.0,8625.0,25772.0

In [55]:
df_311_pop_infr.columns

Index([u'Complaint Type', u'cd_id', u'Total Population',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'Per capita income (In 2014 Inflation Adjusted Dollars)',
       u'Employed Civilian Population 16 Years And Over:.1', u'pct_employed',
       u'Households', u'low_connect', u'hi_connect'],
      dtype='object')

In [59]:
# Are the demographics and infrastructure different in Community Districts that show more complaints than others?
'''
Geoff solution number 1: run linear regression and see if demo & infrastructure 
is a significant predictor of number of complaints. If yes, then there exists differences in community districts
'''
df_311_pop_infr.columns = ['complaint_type', 'cd_id', 'total_population', 'total_pop_18_24_pct',\
                          'total_pop_25_34_pct', 'total_pop_35_44_pct', 'income_per_cap', 'employed_pop',\
                          'pct_employed', 'households', 'low_connect', 'hi_connect']
results = smf.ols('complaint_type ~ total_population + total_pop_18_24_pct + total_pop_25_34_pct + total_pop_35_44_pct \
                    + income_per_cap + employed_pop + pct_employed + households + low_connect + hi_connect', data = df_311_pop_infr).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         complaint_type   R-squared:                       0.302
Model:                            OLS   Adj. R-squared:                  0.140
Method:                 Least Squares   F-statistic:                     1.863
Date:                Sun, 06 Nov 2016   Prob (F-statistic):             0.0779
Time:                        15:28:57   Log-Likelihood:                -183.97
No. Observations:                  54   AIC:                             389.9
Df Residuals:                      43   BIC:                             411.8
Df Model:                          10
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------------
Intercept               3.7066     50.243      0.074      0.942       -97.618   105.031
total_population       -0.0001      0.000     -0.438      0.664        -0.001     0.001
total_pop_18_24_pct     0.0873      0.614      0.142      0.888        -1.152     1.327
total_pop_25_34_pct     0.0495      0.461      0.107      0.915        -0.879     0.978
total_pop_35_44_pct     0.0844      0.780      0.108      0.914        -1.489     1.657
income_per_cap         -0.0002      0.000     -1.293      0.203        -0.001     0.000
employed_pop            0.0004      0.001      0.538      0.594        -0.001     0.002
pct_employed           -3.9329    113.379     -0.035      0.972      -232.584   224.719
households           9.448e-05      0.001      0.183      0.855        -0.001     0.001
low_connect             0.0012      0.001      1.143      0.259        -0.001     0.003
hi_connect            1.54e-07      0.001      0.000      1.000        -0.001     0.001
==============================================================================
Omnibus:                       12.322   Durbin-Watson:                   2.628
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               12.847
Skew:                           1.009   Prob(JB):                      0.00162
Kurtosis:                       4.281   Cond. No.                     2.14e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.14e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [64]:
df_311_pop_infr.iloc[:,2:].head()

,total_population,total_pop_18_24_pct,total_pop_25_34_pct,total_pop_35_44_pct,income_per_cap,employed_pop,pct_employed,households,low_connect,hi_connect
0,167147.0,12.76,18.26,12.04,11370.0,51760.0,0.309668,52191.0,8183.0,30958.0
1,154713.0,8.52,29.88,13.70,34897.0,85020.0,0.549534,62990.0,6512.0,46148.0
2,159903.0,8.55,28.38,18.14,105300.0,100992.0,0.631583,83976.0,5551.0,74339.0
3,182860.0,9.26,27.12,15.74,31664.0,103065.0,0.563628,75758.0,5290.0,60733.0
4,176338.0,10.93,15.08,12.94,26988.0,75432.0,0.427769,62047.0,3797.0,46362.0

In [75]:
df_311_pop_infr_no_nans = df_311_pop_infr[np.isfinite(df_311_pop_infr['households'])]
df_311_pop_infr_no_nans = df_311_pop_infr_no_nans[np.isfinite(df_311_pop_infr_no_nans['low_connect'])]
df_311_pop_infr_no_nans = df_311_pop_infr_no_nans[np.isfinite(df_311_pop_infr_no_nans['hi_connect'])]
df_311_pop_infr_no_nans = df_311_pop_infr_no_nans[np.isfinite(df_311_pop_infr_no_nans['total_population'])]

In [76]:
df_311_pop_infr_no_nans.iloc[:,2:].head(60)

,total_population,total_pop_18_24_pct,total_pop_25_34_pct,total_pop_35_44_pct,income_per_cap,employed_pop,pct_employed,households,low_connect,hi_connect
0,167147.0,12.76,18.26,12.04,11370.0,51760.0,0.309668,52191.0,8183.0,30958.0
1,154713.0,8.52,29.88,13.70,34897.0,85020.0,0.549534,62990.0,6512.0,46148.0
2,159903.0,8.55,28.38,18.14,105300.0,100992.0,0.631583,83976.0,5551.0,74339.0
3,182860.0,9.26,27.12,15.74,31664.0,103065.0,0.563628,75758.0,5290.0,60733.0
4,176338.0,10.93,15.08,12.94,26988.0,75432.0,0.427769,62047.0,3797.0,46362.0
6,139070.0,9.57,22.68,17.05,52259.0,72363.0,0.520335,57188.0,4756.0,45378.0
8,150100.0,7.88,21.98,17.65,28789.0,82022.0,0.546449,52641.0,3152.0,43902.0
9,126200.0,7.82,12.51,12.48,33525.0,57094.0,0.452409,45266.0,4157.0,34435.0
10,172247.0,14.24,14.89,12.38,12662.0,60127.0,0.349074,57556.0,9168.0,33408.0
11,133235.0,12.75,19.43,11.55,21424.0,58739.0,0.440868,50688.0,6790.0,32660.0
12,152453.0,10.72,21.18,13.66,39101.0,77043.0,0.505356,73578.0,10222.0,45434.0
13,182354.0,8.48,18.96,16.20,21172.0,89744.0,0.492142,56146.0,5835.0,40114.0
14,170741.0,8.46,11.03,13.69,34971.0,76312.0,0.446946,57658.0,3636.0,48956.0
15,141467.0,12.28,12.41,13.10,13709.0,52936.0,0.374193,47935.0,6721.0,27971.0
16,137368.0,14.57,24.00,13.76,20052.0,67757.0,0.493252,47580.0,5843.0,32845.0
17,149447.0,8.82,29.41,17.81,87756.0,100311.0,0.671215,82762.0,5983.0,69776.0
18,154740.0,10.22,18.95,13.72,19123.0,72835.0,0.470693,45916.0,3683.0,33180.0
19,132850.0,13.10,16.34,11.96,11867.0,51008.0,0.383952,44699.0,8625.0,25772.0
20,155863.0,11.18,15.29,12.60,16760.0,61567.0,0.395007,55136.0,5427.0,36743.0
22,168488.0,9.48,14.84,15.10,28288.0,82468.0,0.489459,60344.0,4476.0,47925.0
24,125062.0,4.79,22.77,21.13,65458.0,70418.0,0.563065,49709.0,1729.0,44121.0
25,143349.0,10.88,28.09,11.00,90557.0,93700.0,0.653649,80268.0,5887.0,69676.0
26,107893.0,5.21,13.35,15.97,42842.0,54763.0,0.507568,50896.0,2681.0,41070.0
27,135893.0,10.58,14.97,15.32,16685.0,57483.0,0.423002,47252.0,7878.0,31021.0
28,152685.0,9.38,19.44,16.10,21877.0,73751.0,0.483027,45848.0,3688.0,35429.0
29,192374.0,5.38,17.74,14.88,94856.0,110771.0,0.575811,97229.0,5393.0,85468.0
30,256742.0,8.43,14.06,13.96,25870.0,119190.0,0.464240,89206.0,2914.0,67680.0
31,106737.0,10.73,15.04,11.32,30730.0,47433.0,0.444391,42035.0,4105.0,30943.0
32,126747.0,10.12,19.57,16.61,25917.0,61372.0,0.484209,50266.0,7779.0,34367.0
33,221898.0,4.03,24.19,15.73,102036.0,131729.0,0.593647,114838.0,5897.0,102849.0
34,159330.0,9.96,15.41,13.35,26283.0,74602.0,0.468223,54629.0,4426.0,43232.0
35,190126.0,11.15,15.22,12.54,18522.0,77137.0,0.405715,64011.0,7811.0,45261.0
36,109337.0,11.44,20.14,12.49,22605.0,50665.0,0.463384,41281.0,4275.0,28023.0
37,130739.0,19.14,19.88,12.03,29815.0,59734.0,0.456895,47440.0,3835.0,34729.0
38,151202.0,10.89,16.24,14.68,22800.0,70968.0,0.469359,44971.0,4234.0,35511.0
39,121209.0,8.62,13.74,12.78,28586.0,53487.0,0.441279,47050.0,6367.0,32333.0
40,128545.0,7.29,17.02,14.02,30286.0,60560.0,0.471119,48591.0,4193.0,37282.0
41,132027.0,8.89,20.81,14.77,32585.0,60004.0,0.454483,57064.0,8797.0,35908.0
42,134827.0,9.37,12.33,14.90,24158.0,62526.0,0.463750,38041.0,2472.0,29698.0
43,135839.0,8.10,17.43,14.09,22714.0,60765.0,0.447331,44922.0,5959.0,31278.0
44,187637.0,7.63,15.81,14.55,22307.0,85175.0,0.453935,62220.0,7237.0,45438.0
46,120996.0,6.24,13.72,13.04,34418.0,58698.0,0.485123,43279.0,1681.0,37199.0
47,134644.0,11.35,14.29,12.57,21523.0,59430.0,0.441386,44830.0,5265.0,31435.0
48,170011.0,8.66,14.25,12.58,18180.0,63558.0,0.373846,46062.0,8744.0,27609.0
49,224365.0,11.49,19.48,14.51,21969.0,105820.0,0.471642,75352.0,5634.0,56092.0
50,251002.0,10.22,14.74,12.73,21748.0,113239.0,0.451148,74848.0,8277.0,53106.0
51,110727.0,8.33,10.34,11.27,21020.0,41613.0,0.375816,45070.0,3310.0,27559.0
52,193102.0,9.45,12.90,13.14,28464.0,94025.0,0.486919,59953.0,4437.0,49266.0
53,180723.0,9.68,16.91,12.37,24563.0,80422.0,0.445001,61174.0,7240.0,43975.0
54,107944.0,7.78,11.68,10.32,25151.0,41274.0,0.382365,39357.0,3505.0,27803.0
55,137815.0,7.06,14.92,11.11,29032.0,62085.0,0.450495,53639.0,4309.0,39783.0
56,123772.0,9.36,15.89,12.49,14147.0,42506.0,0.343422,44269.0,8872.0,24376.0
57,137526.0,9.34,14.79,13.25,23300.0,63658.0,0.462880,50711.0,4793.0,34990.0
58,210957.0,9.99,13.65,13.47,27869.0,100612.0,0.476931,69980.0,7028.0,53561.0

In [77]:
'''
Geoff solution number 2: run k-means clustering on demo / infrastructure characteristics (k=2)

compare number of complaints between the two groups - if significant difference in number, then yes
'''


n=2 # number of clusters
dd = df_311_pop_infr_no_nans.iloc[:,2:] #data


#train the model.
km = KMeans(random_state=324, n_clusters=n)
res = km.fit(dd)
#result.
print(res.labels_)
#print res.predict(dd)
print(km.cluster_centers_)

[0 0 1 1 1 0 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 0
 0 0 0 1 0 0 0 1 1 0 1 1 0 0 0 0 1]
[[  1.36637778e+05   9.95111111e+00   1.71061111e+01   1.36622222e+01
    2.62680556e+04   6.11562222e+04   4.48533523e-01   4.91826667e+04
    5.44822222e+03   3.45703611e+04]
 [  1.91244778e+05   9.01722222e+00   1.87561111e+01   1.43611111e+01
    4.52722222e+04   9.66746667e+04   5.11187803e-01   7.37650000e+04
    5.68461111e+03   5.89209444e+04]]

In [86]:
# use this data set:
#save your clustering result to cluster_label

df_311_pop_infr_no_nans['Cluster'] = res1.predict(dd) # Make sure here is your clustering result.

In [82]:
#separate groups
df_group_0 = df_311_pop_infr_no_nans[df_311_pop_infr_no_nans.Cluster == 0]
df_group_1 = df_311_pop_infr_no_nans[df_311_pop_infr_no_nans.Cluster == 1]

In [85]:
ks = stats.ks_2samp(df_group_0.complaint_type, df_group_1.complaint_type)
print (ks)

Ks_2sampResult(statistic=0.2777777777777779, pvalue=0.26530828160637782)

## Conclusion
I split the data into two groups, each group composed of the most similar community districts based on all the demographic and infrastructure attributes I kept. I then compared the distribution of complaints of each to one another to see if they were significantly different at the p=0.05 level. The null that the distribution of complaints is NOT significantly different is NOT rejected (the p-value is 0.265). Therefore, I've come to the conclusion that there is not a significant difference between 311 complaints across two groups that are different based on demographic and infrastructure attributes.